@import "../../styles/variables";
.footer {
    padding-top: 60px;
    ul {
        font-size: 11px;
        line-height: 16px;
        margin: 3px 0;
        li {
            padding: 0 24px 4px 0;
            display: inline-block;
            a {
                color: gray;
            }
            a:hover {
                color: blue;
                text-decoration: underline;
            }
        }
    }
}