@import "../../styles/variables";
.home {
    .hero-container {
        position: relative;
        background-color: blue;
        width: auto;
        height: 500px;
        .hero-sign-in {
            position: absolute;
            left:5%;
            bottom: 50%;
            padding-left: 100px;
            padding-right: 100px;
            margin-left: 7px;
            .glyphicon-menu-right {
                padding-left: 5px;
            }
            &.welcome {
                color: white;
            }
        }
    }
}